* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

header {
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header div {
  margin-top: 10px;
  margin-left: 22px;
  margin-right: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 53px;
}

header ion-icon {
  font-size: 45px;
}

main {
  margin-top: 84px;
  margin-bottom: 85px;
}

.message-box {
  min-height: 40px;
  margin-bottom: 5px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.message-box p {
  font-size: 14px;
  margin-left: 8px;
  line-height: 20px;
}

.login-logout {
  background-color: #dcdcdc;
}

.private {
  background-color: #ffdede;
}

time {
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}

span {
  font-weight: 700;
}

footer {
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div {
  margin-top: 25px;
  margin-left: 17px;
  margin-right: 18px;
  margin-bottom: 25px;
}

footer input {
  margin-left: 17px;
  border: none;
  font-size: 18px;
  font-weight: 400;
}

footer input:focus {
  outline: 0;
}

footer input::placeholder {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 21.09px;
}

footer ion-icon {
  font-size: 26px;
  color: #000000;
  margin-right: 18px;
}

/* bônus */
aside {
  display: none;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  background-color: #ffffff;
}
